<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
	<context id="context1">
		<jdbcConnection
			connectionURL="jdbc:postgresql://localhost:5432/quartz_demo"
			driverClass="org.postgresql.Driver" password="postgres"
			userId="postgres" />
		<javaModelGenerator
			targetPackage="com.cjet.demo.model" targetProject="src/main/java">
			<property name="enableSubPackages" value="false" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>
		<sqlMapGenerator targetPackage="com.cjet.demo.mapper"
			targetProject="src/main/resources">
			<property name="enableSubPackages" value="false" />
		</sqlMapGenerator>
		<javaClientGenerator
			targetPackage="com.cjet.demo.mapper" targetProject="src/main/java"
			type="XMLMAPPER">
			<property name="enableSubPackages" value="false" />
		</javaClientGenerator>

		<table schema="quartz" tableName="payment">
			<property name="ignoreQualifiersAtRuntime" value="true" />
			<property name="modelOnly" value="false" />
		</table>
	</context>
</generatorConfiguration>